.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
  background-image: url('/public/bgimagenew.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-box {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-column {
  margin-top: 14px; /* Adjust margin as needed */
}

.login-label {
  font-size: 14px;
  font-weight: bold;
}

.login-input1 {
  width: 98%; /* Set the input width to 100% to match the label width */
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 5px; /* Add margin to separate input elements */
}
.login-input2 {
  width: 98%; /* Set the input width to 100% to match the label width */
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 5px; /* Add margin to separate input elements */
}
.login-button {
  background-color: rgb(105, 205, 214);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: 1s;
  margin-top: 10px;
}

.login-button:hover {
  background-color: rgb(49, 147, 156);
  color: black;
}
